<div
  class="sticky top-0 left-0 h-[200px] border-b border-b-gray-300 z-10 bg-white"
>
  <div class="flex justify-between h-full">
    <div class="flex items-center gap-7">
      <div class="self-start mt-4">
        <i
          class="icon-close text-dark-gray text-2xl cursor-pointer"
          (click)="handleCloseForm()"
        ></i>
      </div>
      <div
        class="relative flex self-center w-[164px] h-[164px] bg-[#c2e7ff] rounded-full"
      >
        <label
          for="file-upload"
          class="absolute z-10 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 w-[36px] h-[36px] cursor-pointer"
        >
          <i class="icon-image-plus-outline text-4xl text-dark-gray"></i>
          <input id="file-upload" type="file" hidden />
        </label>
      </div>
      <div class="self-center">
        <button
          class="flex items-center justify-center gap-1 text-sm border-1 border-gray-500 rounded-md hover:bg-light-gray bg-white w-[85px] transition-colors duration-200"
        >
          <i class="icon-plus text-lg text-blue"></i>
          <span class="text-dark-gray font-medium">Label</span>
        </button>
      </div>
    </div>
    <div class="self-end justify-start w-[150px] pb-6">
      <button
        class="bg-blue text-white px-5 py-2 text-sm font-medium rounded-full"
        (click)="handleSaveFrom()"
      >
        Save
      </button>
    </div>
  </div>
</div>

<form class="mt-6 pl-6 w-[50%]" [formGroup]="form">
  <div class="flex items-start gap-5">
    <i class="icon-account-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-7 w-full">
      <app-input
        label="First Name"
        name="firstName"
        [control]="firstName"
        [hasError]="isSubmitted && firstName.errors !== null"
        [errorMessage]="{
          required: 'Please enter first name',
          minlength: 'First name should contain atleast 3 characters',
          pattern: 'First name should contain alphapets only'
        }"
      />
      <app-input
        label="Last Name"
        name="lastName"
        [control]="lastName"
        [hasError]="isSubmitted && lastName.errors !== null"
        [errorMessage]="{
          minlength: 'First name should contain atleast 3 characters',
          pattern: 'Last name should contain alphapets only'
        }"
      />
      <app-input
        *ngIf="isExpanded"
        label="Nick Name"
        name="nickName"
        [control]="nickName"
        [hasError]="isSubmitted && nickName.errors !== null"
        [errorMessage]="{
          minlength: 'Nick name should contain atleast 3 characters',
          pattern: 'Nick name should contain alphapets only'
        }"
      />
    </div>
  </div>

  <div class="flex items-start gap-5 mt-5">
    <i class="icon-office-building-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input label="Company" name="company" [control]="company" />
      <app-input label="Job Title" name="jobTitle" [control]="jobTitle" />
      <app-input
        *ngIf="isExpanded"
        label="Department"
        name="department"
        [control]="department"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-email-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Email"
        name="email"
        [control]="email"
        [hasError]="isSubmitted && email.errors !== null"
        [errorMessage]="{
          email: 'Invalid email'
        }"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-phone-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Phone"
        name="phone"
        [control]="phone"
        [hasError]="isSubmitted && phone.errors !== null"
        [errorMessage]="{ pattern: 'Invalid phone number' }"
      />
    </div>
  </div>

  <div *ngIf="isExpanded" class="flex items-start gap-5 mt-5">
    <i class="icon-map-marker-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input label="Country" name="country" />
      <app-input
        label="Street address"
        name="addressLine1"
        [control]="addressLine1"
      />
      <app-input
        label="Street address line 2"
        name="addressLine2"
        [control]="addressLine2"
      />
      <app-input label="State" name="state" />
      <app-input label="City" name="city" />
      <app-input
        label="Pincode"
        name="pincode"
        [hasError]="isSubmitted && pincode.errors !== null"
        [errorMessage]="{
          pattern: 'Invalid pincode'
        }"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-cake-variant-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Birthday"
        name="birthday"
        [control]="birthday"
        [hasError]="isSubmitted && birthday.errors !== null"
        [errorMessage]="{
          pattern: 'Invalid birthday date'
        }"
      />
    </div>
  </div>

  <div *ngIf="isExpanded" class="flex items-center gap-5 mt-5">
    <i class="icon-calendar-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input label="Event" name="event" [control]="event" />
    </div>
  </div>

  <div *ngIf="isExpanded" class="flex items-center gap-5 mt-5">
    <i class="icon-link text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Website"
        name="website"
        [control]="website"
        [hasError]="isSubmitted && website.errors !== null"
        [errorMessage]="{
          pattern: 'Invalid website url'
        }"
      />
    </div>
  </div>

  <div *ngIf="isExpanded" class="flex items-center gap-5 mt-5">
    <i class="icon-account-group-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Related people"
        name="relatedPeople"
        [control]="relatedPeople"
      />
    </div>
  </div>

  <div *ngIf="isExpanded" class="flex items-center gap-5 mt-5">
    <i class="icon-message-text-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input label="Chat" name="chat" [control]="chat" />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-note-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input label="Notes" name="notes" [control]="notes" />
    </div>
  </div>
  <button
    class="my-5 hover:bg-sky-blue text-light-blue font-medium rounded-full px-3 py-2 text-sm transition-colors duration-200"
    (click)="handleExpand()"
  >
    Show {{ isExpanded ? "less" : "more" }}
  </button>
</form>
