<div class="sticky top-0 left-0 h-52 border-b border-b-gray-300 z-10 bg-white">
  <div class="flex justify-between h-full">
    <div class="flex items-center gap-7">
      <div class="self-start mt-4">
        <i
          class="icon-close text-dark-gray text-2xl cursor-pointer"
          (click)="onClose.emit()"
        ></i>
      </div>
      <div
        class="relative flex justify-center items-center w-32 h-32 rounded-full"
        [style]="{
          backgroundColor: contactDetail.colorCode
        }"
      >
        <img *ngIf="isAddPage" src="assets/images/profile.png" />
        <span *ngIf="!isAddPage" class="text-4xl text-white"
          >{{
            contactDetail.firstName &&
              contactDetail.firstName.charAt(0).toUpperCase()
          }}{{
            contactDetail.lastName &&
              contactDetail.lastName.charAt(0).toUpperCase()
          }}
        </span>
      </div>
      <div *ngIf="!isAddPage" class="flex gap-3 flex-col self-center">
        <div class="flex gap-3 flex-nowrap">
          <button
            *ngFor="let label of contactDetail.labels"
            class="text-sm bg-transparent border-1 border-[#c4c7c5] rounded px-3 py-1 hover:bg-[#EDEDED] transition-colors"
            [routerLink]="['/contact/label', label._id]"
          >
            {{ label.name }}
          </button>
        </div>
        <button
          *ngIf="!isReadOnly"
          [matMenuTriggerFor]="label"
          class="flex items-center justify-center gap-1 text-sm border-1 border-gray-500 rounded-md hover:bg-light-gray bg-white w-20 transition-colors duration-200"
        >
          <i class="icon-pencil-outline text-lg text-blue"></i>
          <span class="text-dark-gray text-sm font-medium">Label</span>
        </button>
        <mat-menu #label>
          <div class="max-h-56 overflow-y-auto custom-scrollbar">
            <button
              *ngFor="let label of labels"
              mat-menu-item
              (click)="handleClickLabel($event, label._id)"
            >
              <div class="flex gap-3 justify-between items-center">
                <span>{{ label.name }}</span>
                <i
                  [class]="[
                    !labelIds.has(label._id) ? 'hidden' : 'block',
                    'icon-check',
                    'text-blue',
                    'text-xl'
                  ]"
                ></i>
              </div>
            </button>
          </div>
          <div class="flex justify-end border-t-1 border-gray-300 pt-3 pr-3">
            <button
              class="text-blue text-sm font-medium bg-transparent w-20 h-8 hover:bg-[#DBE7F8] rounded transition-colors"
              (click)="handleApplyLabel()"
            >
              Apply
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
    <div class="self-end justify-start w-[150px] pb-6" *ngIf="!isReadOnly">
      <button
        class="bg-blue text-white px-5 py-2 text-sm font-medium rounded-full"
        (click)="handleSubmit()"
      >
        Save
      </button>
    </div>
  </div>
</div>

<form class="my-6 pl-6 w-[50%]">
  <div class="flex items-start gap-5">
    <i class="icon-account-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-7 w-full">
      <app-input
        label="First Name"
        name="firstName"
        [control]="firstName"
        [hasError]="isSubmitted && firstName.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          required: 'Please enter first name',
          minlength: 'First name should contain atleast 3 characters',
          pattern: 'First name should contain alphapets only'
        }"
      />
      <app-input
        label="Last Name"
        name="lastName"
        [control]="lastName"
        [hasError]="isSubmitted && lastName.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          minlength: 'First name should contain atleast 3 characters',
          pattern: 'Last name should contain alphapets only'
        }"
      />
      <app-input
        label="Nick Name"
        name="nickName"
        [control]="nickName"
        [hasError]="isSubmitted && nickName.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          minlength: 'Nick name should contain atleast 3 characters',
          pattern: 'Nick name should contain alphapets only'
        }"
      />
    </div>
  </div>

  <div class="flex items-start gap-5 mt-5">
    <i class="icon-office-building-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Company"
        name="company"
        [control]="company"
        [readOnly]="isReadOnly"
      />
      <app-input
        label="Job Title"
        name="jobTitle"
        [control]="jobTitle"
        [readOnly]="isReadOnly"
      />
      <app-input
        label="Department"
        name="department"
        [control]="department"
        [readOnly]="isReadOnly"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-email-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Email"
        name="email"
        [control]="email"
        [hasError]="isSubmitted && email.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          email: 'Invalid email'
        }"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-phone-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Phone"
        name="phone"
        [control]="phone"
        [hasError]="isSubmitted && phone.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          required: 'Please enter phone number',
          pattern: 'Invalid phone number'
        }"
      />
    </div>
  </div>

  <div class="flex items-start gap-5 mt-5">
    <i class="icon-map-marker-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Country"
        name="country"
        [control]="country"
        [readOnly]="isReadOnly"
      />
      <app-input
        label="Street address"
        name="addressLine1"
        [control]="addressLine1"
        [readOnly]="isReadOnly"
      />
      <app-input
        label="Street address line 2"
        name="addressLine2"
        [control]="addressLine2"
        [readOnly]="isReadOnly"
      />
      <app-input label="State" name="state" [readOnly]="isReadOnly" />
      <app-input label="City" name="city" [readOnly]="isReadOnly" />
      <app-input
        label="Pincode"
        name="pincode"
        [hasError]="isSubmitted && pincode.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          pattern: 'Invalid pincode'
        }"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-cake-variant-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Birthday"
        name="birthday"
        [control]="birthday"
        [hasError]="isSubmitted && birthday.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          pattern: 'Invalid birthday date'
        }"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-link text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Website"
        name="website"
        [control]="website"
        [hasError]="isSubmitted && website.errors !== null"
        [readOnly]="isReadOnly"
        [errorMessage]="{
          pattern: 'Invalid website url'
        }"
      />
    </div>
  </div>

  <div class="flex items-center gap-5 mt-5">
    <i class="icon-note-outline text-gray text-2xl"></i>
    <div class="flex flex-col gap-4 w-full">
      <app-input
        label="Notes"
        name="notes"
        [control]="notes"
        [readOnly]="isReadOnly"
      />
    </div>
  </div>
</form>
