<ng-container
  *ngIf="starredContactList.length !== 0 || contactList.length !== 0"
>
  <app-contact-header
    [isTrash]="false"
    [selectedContacts]="selectedContactIds.size"
    (onExportContact)="handleExportContacts()"
    (onDeleteSelectedContacts)="handleDeleteAllSelectedContacts()"
    (onClearSelectedContacts)="handleClearAllSelectedContacts()"
  />
  <div class="relative">
    <ng-container *ngIf="starredContactList.length !== 0">
      <div class="p-3 sticky top-[50px] left-0 z-10 bg-white">
        <span class="text-gray font-medium text-xs capitalize"
          >STARRED CONTACTS ({{ starredContactList.length }})</span
        >
      </div>
      <div class="flex flex-col">
        <app-contact-list
          [contacts]="starredContactList"
          [isFavourite]="true"
          [selectedContactIds]="selectedContactIds"
          (onDelete)="handleDelete($event)"
          (onFavourite)="handleFavourite($event)"
          (onChange)="handleChange($event)"
        />
      </div>
    </ng-container>
    <ng-container *ngIf="contactList.length !== 0">
      <div class="p-3 sticky top-[50px] left-0 z-10 bg-white">
        <span class="text-gray font-medium text-xs capitalize"
          >CONTACTS ({{ contactList.length }})</span
        >
      </div>
      <div class="flex flex-col">
        <app-contact-list
          [contacts]="contactList"
          [selectedContactIds]="selectedContactIds"
          (onDelete)="handleDelete($event)"
          (onFavourite)="handleFavourite($event)"
          (onChange)="handleChange($event)"
        />
      </div>
    </ng-container>
  </div>
</ng-container>
