<div
  class="grid grid-cols-contact items-center border-b-1 borer-b-[rgba(0,0,0,.12)] py-4 px-3"
>
  <div class="text-dark-gray font-medium text-sm px-3">
    <span>Name</span>
  </div>
  <div class="text-dark-gray font-medium text-sm px-3">
    <span>Email</span>
  </div>
  <div class="text-dark-gray font-medium text-sm px-3">
    <span>Phone Number</span>
  </div>
  <div class="text-dark-gray font-medium text-sm px-3">
    <span *ngIf="!isTrash">Job Title & Company</span>
    <span *ngIf="isTrash">Date deleted</span>
  </div>
  <div
    class="flex gap-3 items-center justify-end text-dark-gray text-xl font-medium"
  >
    <ng-container *ngIf="!isTrash">
      <i class="icon-printer-outline cursor-pointer"></i>
      <i class="icon-export-variant cursor-pointer"></i>
    </ng-container>
    <i class="icon-dots-vertical cursor-pointer"></i>
  </div>
</div>

<ng-container *ngFor="let list of contactsList">
  <ng-container *ngIf="list.contacts">
    <div class="p-3">
      <span class="text-gray font-medium text-xs capitalize"
        >{{ list.title }} ({{ list.contacts.length }})</span
      >
    </div>
    <div class="flex flex-col">
      <div
        class="group grid grid-cols-contact items-center rounded-md text-sm py-2 hover:bg-dark-silver transition-colors duration-200 cursor-pointer"
        *ngFor="let contact of list.contacts; trackBy: handleTrackContact"
        [routerLink]="['/contact', contact.contactId, 'view']"
      >
        <div class="flex items-center gap-5 px-3">
          <div
            class="group relative w-[40px] h-[40px]"
            (click)="$event.stopPropagation()"
          >
            <div
              class="group-hover:hidden group-[&:has(input:checked)]:hidden flex items-center justify-center text-xl text-white font-medium w-full h-full rounded-full"
              [style]="{ backgroundColor: contact.colorCode }"
            >
              <span>{{ contact.name.charAt(0) | uppercase }}</span>
            </div>
            <app-check-box
              class="hidden group-hover:flex group-[&:has(input:checked)]:flex justify-center items-center absolute left-0 top-0 w-full h-full hover:bg-light-gray group-[&:has(input:checked)]:hover:bg-sky-blue rounded-full"
            />
          </div>
          <span class="first-letter:capitalize">{{ contact.name }}</span>
        </div>
        <div class="px-3 py-2">
          <span>{{ contact.email }}</span>
        </div>
        <div class="px-3 py-2">
          <span>+91 {{ contact.phone }}</span>
        </div>
        <div class="px-3 py-2">
          <span *ngIf="!isTrash"
            >{{ contact.company }}
            <ng-container *ngIf="contact.jobTitle">
              , {{ contact.jobTitle }}
            </ng-container>
          </span>
          <span *ngIf="isTrash">
            {{ contact.createdAt }}
          </span>
        </div>
        <div class="pr-3">
          <div
            class="hidden group-hover:flex items-center justify-end gap-3 text-xl text-gray"
          >
            <ng-container *ngIf="!isTrash">
              <i
                [class]="{
                  'icon-star': list.isFavourite,
                  'text-light-blue': list.isFavourite,
                  'icon-star-outline': !list.isFavourite
                }"
                (click)="
                  handleFavourite($event, contact.contactId, !list.isFavourite)
                "
              ></i>
              <i
                class="icon-pencil-outline"
                (click)="$event.stopPropagation()"
                [routerLink]="['/contact', contact.contactId, 'edit']"
              ></i>
              <i
                class="icon-trash-can-outline"
                (click)="handleDelete($event, contact.contactId)"
              ></i>
            </ng-container>
            <ng-container *ngIf="isTrash">
              <button
                (click)="handleRecover($event, contact.contactId)"
                class="text-light-blue text-sm font-medium bg-sky-blue px-2 py-1 rounded-sm"
              >
                Recover
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
