<div
  class="relative group grid grid-cols-contact items-center text-sm py-2 [&:is([aria-selected='true'])]:bg-mild-gray [&:is([aria-selected='false'])]:hover:bg-dark-silver transition-colors duration-200 cursor-pointer before:hidden before:focus-within:block before:content-[''] before:absolute before:w-1 before:rounded-tr-md before:rounded-br-md before:bg-blue before:h-full"
  *ngFor="let contact of contacts; trackBy: handleTrackContact"
  [routerLink]="['/contact', contact._id, 'view']"
  [attr.aria-selected]="selectedContactIds.has(contact._id)"
>
  <div class="relative flex items-center gap-5 px-3 h-full">
    <div
      class="group relative w-[40px] h-[40px] hover:bg-light-gray group-[&:is([aria-selected='true'])]:hover:bg-sky-blue rounded-full"
      (click)="$event.stopPropagation()"
    >
      <div
        class="group-hover:hidden group-[&:is([aria-selected='true'])]:hidden flex items-center justify-center text-xl text-white font-medium w-full h-full rounded-full"
        [style]="{ backgroundColor: contact.colorCode }"
      >
        <span>{{ contact.name.charAt(0) | uppercase }}</span>
      </div>
      <div class="hidden group-hover:flex relative text-[#A3A3A3]">
        <i
          class="icon-dots-vertical cursor-pointer absolute -left-[14px] top-[5px] text-xl"
        ></i>
        <i
          class="icon-dots-vertical cursor-pointer absolute -left-[6px] top-[5px] text-xl"
        ></i>
      </div>
      <app-check-box
        class="hidden group-hover:flex group-[&:is([aria-selected='true'])]:flex justify-center items-center absolute left-2.5 top-1/2 -translate-y-1/2 w-[20px] h-[20px]"
        [checked]="selectedContactIds.has(contact._id)"
        (onChange)="handleCheckBox($event, contact._id)"
      />
    </div>
    <span class="first-letter:capitalize">{{ contact.name }}</span>
  </div>
  <div class="px-3 py-2">
    <span>{{ contact.email }}</span>
  </div>
  <div class="px-3 py-2">
    <span *ngIf="contact.phone">+91 {{ contact.phone }}</span>
  </div>
  <div class="px-3 py-2">
    <span *ngIf="!isTrash"
      >{{ contact.company }}
      <ng-container *ngIf="contact.jobTitle">
        , {{ contact.jobTitle }}
      </ng-container>
    </span>
    <span *ngIf="isTrash">
      {{ formatTime(contact.updatedAt) }}
    </span>
  </div>
  <div class="pr-3">
    <div
      class="hidden group-hover:flex items-center justify-end gap-3 text-xl text-gray"
    >
      <ng-container *ngIf="!isTrash">
        <i
          [class]="{
            'icon-star': isFavourite,
            'text-light-blue': isFavourite,
            'icon-star-outline': !isFavourite
          }"
          (click)="handleFavourite($event, contact._id, !isFavourite)"
        ></i>
        <i
          class="icon-pencil-outline"
          (click)="$event.stopPropagation()"
          [routerLink]="['/contact', contact._id, 'edit']"
        ></i>
        <i
          class="icon-trash-can-outline"
          (click)="handleDelete($event, contact._id)"
        ></i>
      </ng-container>
      <ng-container *ngIf="isTrash">
        <button
          (click)="handleRecover($event, contact._id)"
          class="text-light-blue text-sm font-medium bg-sky-blue px-2 py-1 rounded-sm"
        >
          Recover
        </button>
      </ng-container>
    </div>
  </div>
</div>
