<div
  class="flex items-center justify-center gap-4 bg-light-silver py-3 rounded-md text-sm font-medium"
>
  <span class="text-gray">
    Contacts that have been in Trash more than 30 days will be deleted forever
  </span>
  <button
    class="text-light-blue bg-sky-blue px-2 py-1 rounded-sm"
    (click)="handleEmptyTrash()"
  >
    Empty Trash now
  </button>
</div>

<ng-container *ngIf="contactsList.length !== 0">
  <app-contact-header
    [isTrash]="true"
    [selectedContacts]="selectedContactIds.size"
    (onClearSelectedContacts)="handleClearAllSelectedContacts()"
    (onDeleteSelectedContacts)="handleDeleteAllSelectedContacts()"
  />
  <div class="relative">
    <div class="p-3 sticky top-[50px] left-0 z-10 bg-white">
      <span class="text-gray font-medium text-xs capitalize"
        >Trash ({{ contactsList.length }})</span
      >
    </div>
    <div class="flex flex-col">
      <app-contact-list
        [isTrash]="true"
        [contacts]="contactsList"
        [selectedContactIds]="selectedContactIds"
        (onRecover)="handleRecover($event)"
        (onChange)="handleChange($event)"
      />
    </div>
  </div>
</ng-container>
